html, body {
    font-family: 'Pretendard';
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 1.1;
    color: #3d3d3d; /* 글자 색상 */
    word-break: keep-all; /* 단어별로 줄바꿈 */
    word-wrap: break-word; /* 만약 단어가 엄청 길면 강제로 줄바꿈 실행 */
}